@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filter-ds-yellow-500 {
    -webkit-filter: drop-shadow(5px -13px 10px rgba(245, 148, 11, 1));
    filter: drop-shadow(5px -13px 10px rgba(245, 148, 11, 1));
  }
  .filter-ds-green-500 {
    -webkit-filter: drop-shadow(5px -13px 10px rgba(16, 185, 129, 1));
    filter: drop-shadow(5px -13px 10px rgba(16, 185, 129, 1));
  }
}
